<% #test %>

<% die_roll = ["1", "2", "3", "4", "5", "6"] %>

<h1>Step 1</h1>
<p>Die 1: <strong><%= die_roll.sample %></strong></p>
<p>Die 2: <strong><%= die_roll.sample %></strong></p>

<h1>Step 2</h1>
<% 2.times do%>
  <% die = Die.sample["image"] %>
  <%= image_tag(die) %>
<% end %>
