<h1>Colman's Bookstore</h1>

<% max_rating = Book.maximum("avg_rating") %>

<% the_pick = Book.find_by("avg_rating" => max_rating) %>

<p>Editor's Pick: <%= link_to the_pick["title"], "/books/#{the_pick["id"]}" %></p>

<p><strong><%= link_to "View Our Full Catalog", "/books" %></strong></p>
