<h1>List of Books</h1>

<p>Editor's Pick: </p>

<table frame="border" rules="all" cellpadding="5" width="500">
  <tr>
    <td><strong>Title</strong></td>
    <td><strong>Average Rating</strong></td>
  </tr>

  <% Book.read.order("title").each do |book_name| %>
    <tr>
      <td><%= book_name["title"] %></td>
      <td><%= Review.where("book_id" => book_name["id"]).average("rating") %></td>
    </tr>
  <% end %>
</table>
