<p><strong><%= link_to "Home", "/", "method" => "patch" %></strong></p>

<h1>Our Catalog</h1>

<table frame="border" rules="all" cellpadding="5" width="500">
  <tr>
    <td><strong>Title</strong></td>
    <td><strong>Average Rating</strong></td>
  </tr>

  <% Book.read.order("title").each do |book_name| %>
    <tr>
      <td><%= link_to book_name["title"], "/books/#{book_name["id"]}" %></td>
      <td><%= Review.where("book_id" => book_name["id"]).average("rating") %></td>
    </tr>
  <% end %>
</table>
